version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: api-log-backend
    ports:
      - "4000:4000"
    env_file:
      - .env
    restart: always

  frontend:
    build:
      context: ./ui
      dockerfile: Dockerfile.frontend
    container_name: api-log-frontend
    ports:
      - "5173:80"
    environment:
      - VITE_API_BASE_URL=http://localhost:4000/api
    restart: always
